<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EJS</title>
</head>
<body>
  <h1>HELLO DE09</h1>
  <!-- Send code to nodejs -->
  <% 
  console.log('hello everbody')
  console.log('birden fazla satir yazilabilir')
  %>

  <!-- asfe print to html -->
  <%=5+9%>

  <%= '<p> <b>Hi</b>  Ayca</p>' %>

  <!-- direct print to html -->
  <%- '<p> <b>Hi</b>  Ayca</p>' %>

  <!-- comment with ejs -->
  <%# comment %>

<!-- direct print to html and remove newLine (\n) -->
<%- '<p> <b>Hi</b>  Ayca</p>' -%>


</body>
</html>